header {
    text-align: center;
    border: solid thick;
    margin: 0 20%;
    color: aqua;
    background-color: maroon;
}

body { 
    text-align: center;
    color: black;
    background-color: lightcyan;
}

.container {
    display: flex;
}

.box {
    padding: 20px 10px 60px 10px;
    border: solid slateblue thick;
    margin: 140px 5%;
}

.button {
    width: 25px;
    height: 25px;
    margin-top: 200px;
}